.array-container {
  height: 90%;
  width: 90%;
  padding: 0 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid #fff;
  background-color: #1a1a1a;
}

.bar {
  position: relative;
  width: 30px;
  margin: 0 2px;
  background-color: #ddd;
  text-align: center;
  color: #000;
  border: 2px solid #fff;
  border-bottom: none;
}

.bar .value {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  width: 100%;
}

.index-container {
  padding: 0 10px;
  width: 90%;
  display: flex;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
}

.index {
  width: 30px;
  margin: 0 2px;
  text-align: center;
  font-size: 12px;
}
