* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50vh;
  width: 50%;
  margin: 0px auto;
  margin-top: 100px;
  border: 2px solid #000000;
}

.bar {
  width: 30px;
  margin: 0 2px;
  background-color: #3498db;
  text-align: center;
  color: white;
  border: 2px solid #000000;
  border-bottom: none;
  transform: translateX(0px);
}

#my-button {
  display: block;
  margin: 0px auto;
  margin-top: 30px;
  padding: 5px 10px;
  background-color: #ffa6a6;
  color: rgb(0, 0, 0);
}

#my-button:hover {
  background-color: #ff6969;
  color: white;
}

#my-button:active {
  background-color: #8a0000;
}
